In [1]:
import pandas as pd

Two type of data structure: Series, DataFrame

# Series

In [2]:
series1=pd.Series([1,2,3,4])
print("series1:\n{}\n".format(series1))

series1:
0    1
1    2
2    3
3    4
dtype: int64

In [3]:
print("series1.values:{}\n".format(series1.values))
print("series1.index:{}\n".format(series1.index))

series1.values:[1 2 3 4]

series1.index:RangeIndex(start=0, stop=4, step=1)

In [4]:
series2=pd.Series([1,2,3,4,5,6,7],
                 index=["C","D","E","F","G","A","B"])
print("series2:\n{}\n".format(series2))
print("E is {}\n".format(series2["E"]))

series2:
C    1
D    2
E    3
F    4
G    5
A    6
B    7
dtype: int64

E is 3

# DataFrame

In [5]:
import numpy as np

In [6]:
df1=pd.DataFrame(np.arange(16).reshape(4,4))
print("df1:\n{}\n".format(df1))

df1:
    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
df2=pd.DataFrame(np.arange(16).reshape(4,4),columns=["column1","column2","column3","column4"],
                index=["a","b","c","d"])
print("df2:\n{}\n".format(df2))

df2:
   column1  column2  column3  column4
a        0        1        2        3
b        4        5        6        7
c        8        9       10       11
d       12       13       14       15

In [8]:
df3=pd.DataFrame({"note":["C","D","E","F","G","A","B"],
                 "weekday":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]})
print("df3:\n{}\n".format(df3))

df3:
  note weekday
0    C     Mon
1    D     Tue
2    E     Wed
3    F     Thu
4    G     Fri
5    A     Sat
6    B     Sun

In [9]:
noteSeries=pd.Series(["C","D","E","F","G","A","B"],
                    index=[1,2,3,4,5,6,7])
weekdaySeries=pd.Series(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"],
                       index=[1,2,3,4,5,6,7])

In [10]:
print(noteSeries)
print(weekdaySeries)

1    C
2    D
3    E
4    F
5    G
6    A
7    B
dtype: object
1    Mon
2    Tue
3    Wed
4    Thu
5    Fri
6    Sat
7    Sun
dtype: object

In [11]:
df4=pd.DataFrame([noteSeries,weekdaySeries])
print(df4)

     1    2    3    4    5    6    7
0    C    D    E    F    G    A    B
1  Mon  Tue  Wed  Thu  Fri  Sat  Sun

In [12]:
df3["No."]=pd.Series([1,2,3,4,5,6,7])
print(df3)

  note weekday  No.
0    C     Mon    1
1    D     Tue    2
2    E     Wed    3
3    F     Thu    4
4    G     Fri    5
5    A     Sat    6
6    B     Sun    7

In [13]:
del df3["weekday"]
print(df3)

  note  No.
0    C    1
1    D    2
2    E    3
3    F    4
4    G    5
5    A    6
6    B    7

# index

In [14]:
df3.columns

Index(['note', 'No.'], dtype='object')

In [15]:
df3.index

RangeIndex(start=0, stop=7, step=1)

In [16]:
df3.loc[[0,1],"note"]

0    C
1    D
Name: note, dtype: object

In [17]:
df3.iloc[[0,1],0]

0    C
1    D
Name: note, dtype: object

# File operation

## excel

In [20]:
!git clone https://github.com/paulQuei/pandas_tutorial.git

Cloning into 'pandas_tutorial'...

In [24]:
df1=pd.read_excel("pandas_tutorial/data/test.xlsx")

In [25]:
print("df1:\n{}\n".format(df1))

df1:
   C  Mon
0  D  Tue
1  E  Wed
2  F  Thu
3  G  Fri
4  A  Sat
5  B  Sun

## csv

In [26]:
!cat pandas_tutorial/data/test1.csv

C,Mon
D,Tue
E,Wed
F,Thu
G,Fri
A,Sat
B,Sun

In [27]:
!cat pandas_tutorial/data/test2.csv

C|Mon
D|Tue
E|Wed
F|Thu
G|Fri
A|Sat
B|Sun

In [29]:
df2=pd.read_csv("pandas_tutorial/data/test1.csv")
df3=pd.read_csv("pandas_tutorial/data/test2.csv",sep="|")
print(df2)
print(df3)

   C  Mon
0  D  Tue
1  E  Wed
2  F  Thu
3  G  Fri
4  A  Sat
5  B  Sun
   C  Mon
0  D  Tue
1  E  Wed
2  F  Thu
3  G  Fri
4  A  Sat
5  B  Sun

# NA value

## Handle NA value

In [36]:
import numpy as np
df=pd.DataFrame([[1.0,np.nan,3.0,4.0],
                [5.0,np.nan,np.nan,8.0],
                [9.0,np.nan,np.nan,12.0],
                [13.0,np.nan,15.0,16.0]])
print(df)
print(pd.isnull(df))

      0   1     2     3
0   1.0 NaN   3.0   4.0
1   5.0 NaN   NaN   8.0
2   9.0 NaN   NaN  12.0
3  13.0 NaN  15.0  16.0
       0     1      2      3
0  False  True  False  False
1  False  True   True  False
2  False  True   True  False
3  False  True  False  False

## ignore NA value

In [38]:
df.dropna()

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [39]:
df.dropna(axis=1,how="all")

      0     2     3
0   1.0   3.0   4.0
1   5.0   NaN   8.0
2   9.0   NaN  12.0
3  13.0  15.0  16.0

## fill NA value

In [41]:
df.fillna(1)

      0    1     2     3
0   1.0  1.0   3.0   4.0
1   5.0  1.0   1.0   8.0
2   9.0  1.0   1.0  12.0
3  13.0  1.0  15.0  16.0

In [44]:
df.rename(index=lambda x:'index'+str(x),columns=lambda x:'col'+str(x),inplace=True)

In [45]:
df

        col0  col1  col2  col3
index0   1.0   NaN   3.0   4.0
index1   5.0   NaN   NaN   8.0
index2   9.0   NaN   NaN  12.0
index3  13.0   NaN  15.0  16.0

In [46]:
df.fillna(value={"col1":2,"col2":7},inplace=True)

        col0  col1  col2  col3
index0   1.0   2.0   3.0   4.0
index1   5.0   2.0   7.0   8.0
index2   9.0   2.0   7.0  12.0
index3  13.0   2.0  15.0  16.0

# Handle Strings

In [53]:
s1=pd.Series(['1','2 ',' 3 ','4','5'])

In [54]:
s1.str.lstrip()

0     1
1    2
2    3
3     4
4     5
dtype: object

In [55]:
s1.str.strip()

0    1
1    2
2    3
3    4
4    5
dtype: object

In [56]:
s1.str.isdigit()

0     True
1    False
2    False
3     True
4     True
dtype: bool

In [57]:
s2=pd.Series(['Stairway to Heaven','Eruption','Freebird',
             'Comfortably Numb','All Along the Watchtower'])
print(s2.str.lower())

0          stairway to heaven
1                    eruption
2                    freebird
3            comfortably numb
4    all along the watchtower
dtype: object

In [58]:
s2.str.upper()

0          STAIRWAY TO HEAVEN
1                    ERUPTION
2                    FREEBIRD
3            COMFORTABLY NUMB
4    ALL ALONG THE WATCHTOWER
dtype: object

In [59]:
s2.str.len()

0    18
1     8
2     8
3    16
4    24
dtype: int64