In [ ]:
import pandas as pd

Two type of data structure: Series, DataFrame

# Series

In [4]:
series1=pd.Series([1,2,3,4])
print("series1:\n{}\n".format(series1))

series1:
0    1
1    2
2    3
3    4
dtype: int64

In [5]:
print("series1.values:{}\n".format(series1.values))
print("series1.index:{}\n".format(series1.index))

series1.values:[1 2 3 4]

series1.index:RangeIndex(start=0, stop=4, step=1)

In [6]:
series2=pd.Series([1,2,3,4,5,6,7],
                 index=["C","D","E","F","G","A","B"])
print("series2:\n{}\n".format(series2))
print("E is {}\n".format(series2["E"]))

series2:
C    1
D    2
E    3
F    4
G    5
A    6
B    7
dtype: int64

E is 3

# DataFrame

In [7]:
import numpy as np

In [8]:
df1=pd.DataFrame(np.arange(16).reshape(4,4))
print("df1:\n{}\n".format(df1))

df1:
    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [9]:
df2=pd.DataFrame(np.arange(16).reshape(4,4),columns=["column1","column2","column3","column4"],
                index=["a","b","c","d"])
print("df2:\n{}\n".format(df2))

df2:
   column1  column2  column3  column4
a        0        1        2        3
b        4        5        6        7
c        8        9       10       11
d       12       13       14       15

In [10]:
df3=pd.DataFrame({"note":["C","D","E","F","G","A","B"],
                 "weekday":["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]})
print("df3:\n{}\n".format(df3))

df3:
  note weekday
0    C     Mon
1    D     Tue
2    E     Wed
3    F     Thu
4    G     Fri
5    A     Sat
6    B     Sun

In [11]:
noteSeries=pd.Series(["C","D","E","F","G","A","B"],
                    index=[1,2,3,4,5,6,7])
weekdaySeries=pd.Series(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"],
                       index=[1,2,3,4,5,6,7])

In [12]:
print(noteSeries)
print(weekdaySeries)

1    C
2    D
3    E
4    F
5    G
6    A
7    B
dtype: object
1    Mon
2    Tue
3    Wed
4    Thu
5    Fri
6    Sat
7    Sun
dtype: object

In [13]:
df4=pd.DataFrame([noteSeries,weekdaySeries])
print(df4)

     1    2    3    4    5    6    7
0    C    D    E    F    G    A    B
1  Mon  Tue  Wed  Thu  Fri  Sat  Sun

In [14]:
df3["No."]=pd.Series([1,2,3,4,5,6,7])
print(df3)

  note weekday  No.
0    C     Mon    1
1    D     Tue    2
2    E     Wed    3
3    F     Thu    4
4    G     Fri    5
5    A     Sat    6
6    B     Sun    7

In [15]:
del df3["weekday"]
print(df3)

  note  No.
0    C    1
1    D    2
2    E    3
3    F    4
4    G    5
5    A    6
6    B    7